<!DOCTYPE html>
<html>
  <head>


    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #eee;
      }
      #map {
        height: 708px;
        width: 100%;
      }

      #headers {
          background-color:white;
          color:gray;
          padding:25px;
          border-bottom: 1px solid #D0D0D0;
      }

      .box-scroll{
        overflow: auto;
        height: 708px;

      }


      .sector-option{
          background-color:white;
          color:gray;
          padding: 25px 0px;
          border-bottom: 1px solid #D0D0D0;
      }

      .sector-option div{
          width: 95%;
          margin: 0px auto;
      }


      }
      .box-left{
        padding: 27px 50px;
        border-left:1px solid #D0D0D0;
      }


      </style>


  </head>
  <body>


    <!-- 화면왼쪽 -->
    <div style="float:left; width:60% ">
      <div class="box-scroll">
      <div class="sector-option">
        <div>지역</div>
      </div>
      <div class="sector-option">
        <div>라이프 스타일</div>
      </div>
      <div class="sector-option">
        <div>가격</div>
      </div>


      <div class="row">
        <% @posts.each do |p| %>
        <div class=" col s12 m6">
          <div class="card">
                <div class="card-image">
                  <img src=<%=asset_path("roommate2.jpeg")%>>
                  <span class="card-title"><%= p.title%></span>
                </div>
                <div class="card-content">
                  <span class="teal-text text-lighten-2"><%= p.content %></style>
                </div>
                <div class="card-action">
                  <%= link_to '보기', [p.bulletin, p], class:'btn btn-default' %>
                  <%= link_to '수정', edit_bulletin_post_path(p.bulletin, p), class:'btn btn-default' %>
                  <%= link_to '삭제', [p.bulletin, p], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
                </div>
          </div>
        </div>
        <% end%>
      </div>
     </div>
   </div>
   <!--왼쪽확면 끝-->




      <!--화면 오른쪽-->
      <div style="float:right; width: 40%;">

        <div id="map"></div>

      </div>
    `
    <div style="clear:both"></div>

















    <script>

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH47gDvneNh6i-m-1T3JB6H6IGTolgkxM&callback=initMap" async defer></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>





<!-- <p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td>
        <%= link_to 'Show', [post.bulletin, post], class:'btn btn-default' %>
        <%= link_to 'Edit', edit_bulletin_post_path(post.bulletin, post), class:'btn btn-default' %>
        <%= link_to 'Destroy', [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_bulletin_post_path %> -->
